# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Test Cache
.pytest_cache/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Logs
*.log

# Docker
*.tar

# Kubernetes
*.bak
