# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# IntelliJ
.idea/

# macOS
.DS_Store

# Logs
*.log

# Python cache
.pytest_cache/

# Terraform (future modules)
.terraform/
*.tfstate
*.tfstate.backup

# Ansible
*.retry

# Kubernetes
*.tmp

# Docker
*.tar

# Jenkins
workspace/

# Environment files
.env.*

# Misc
*.swp
