<!DOCTYPE html>
<html>
<head>
    <title>Cloud Native DevOps Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>Cloud Native DevOps Project</h1>

<p>Welcome to the DevOps CI/CD Pipeline Demo.</p>

<table>
<tr>
<th>Technology</th>
<th>Status</th>
</tr>

<tr>
<td>Git</td>
<td>Ready</td>
</tr>

<tr>
<td>Jenkins</td>
<td>Ready</td>
</tr>

<tr>
<td>Docker</td>
<td>Ready</td>
</tr>

<tr>
<td>Kubernetes</td>
<td>Ready</td>
</tr>

<tr>
<td>Terraform</td>
<td>Ready</td>
</tr>

<tr>
<td>Ansible</td>
<td>Ready</td>
</tr>

<tr>
<td>Prometheus</td>
<td>Ready</td>
</tr>

<tr>
<td>Grafana</td>
<td>Ready</td>
</tr>

</table>

</div>

</body>
</html>
